<div class="article">

  <!-- article-header ---------------------------------------------------------->
  <div class="article-header">
    <div class="date"><%= form.date %></div>
    <h1 class="article-header-title"><%= form.title %></h1>
    <p class="article-header-img">
      <img src="<%= form.headerimg %>">
    </p>
    <p class="article-header-img-source"><%= form.headerimgsource %></p>
  </div>
  
  <%- form.body %>
  
  <p style="margin:100px 0 30px 0;">
    〇〇〇〇〇以下はマークダウンをHTMLに変換するテストです。〇〇〇〇〇
  </p>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <div class="article-contents" id="markdown-content"></div>
  <script>
    document.getElementById('markdown-content').innerHTML = marked.parse("<%- form.body %>");
  </script>

  <!-- codeタグ内を文字列として表示する ※<code>タグ内は全てコメントアウトする！ -->
  <script>
    var code = document.querySelector('code');
    code.innerHTML = code.innerHTML.replace(/</g,'&lt;').replace(/>/g,'&gt;');
    code.innerHTML = code.innerHTML.replace(/&lt;!--|--&gt;/g, '');
  </script>
</div>
  
  