<div class="article">

  <!-- article-header ---------------------------------------------------------->
  <div class="article-header">
    <div class="date"><%= form.date %></div>
    <h1 class="article-header-title"><%= form.title %></h1>
    <p class="article-header-img">
      <img src="<%= form.headerimg %>">
    </p>
    <p class="article-header-img-source"><%= form.headerimgsource %></p>
  </div>
  
  <%- form.body %>
  
  <!-- codeタグ内を文字列として表示する -->
  <script>
    var code = document.querySelector('code');
    code.innerHTML = code.innerHTML.replace(/</g,'&lt;').replace(/>/g,'&gt;');
    code.innerHTML = code.innerHTML.replace(/&lt;!--|--&gt;/g, '');
  </script>
</div>
  
  