<!-- 管理画面　記事編集ページ -->

<form method="post" action="/manage/article/<%= path %>">
  <input type="hidden" name="id" value="<%= form.id %>">
  <!-- article-header ---------------------------------------------------------->
  <div class="article-header">
    <div class="form-group">
      <label for="status">
      <input type="checkbox" name="status" id="status check" selected="<%= form.status %>">
      <!-- <input type="checkbox" name="status" id="status check" value=""> -->
      公開する</label>
    </div>
    <div class="form-group date">
      <label for="date">作成・編集日時</label>
      <input type="text" name="date" id="date" value="<%= form.date %>">
    </div>
    <div class="form-group date">
      <label for="genre">ジャンル</label>
      <input type="text" name="genre" id="genre" value="<%= form.genre %>">
    </div>
    <div class="form-group">
      <label for="title">記事タイトル</label>
      <h1 class="article-header-title">
        <input type="text" name="title" id="title" value="<%= form.title %>">
      </h1>
    </div>
    <div class="form-group">
      <label for="headerimg">ヘッダー画像URL</label>
      <input type="text" name="headerimg" id="headerimg" value="<%= form.headerimg %>">
    </div>
    <div class="form-group">
      <label for="headerimgsource">ヘッダー画像の出典</label>
      <input type="text" name="headerimgsource" id="headerimgsource" value="<%= form.headerimgsource %>">
    </div>
  </div>

  <!-- article-content -->
  <div class="form-group">
    <label for="body">記事本文</label>
    <textarea name="body" id="body editor" rows="30"><%= form.body %></textarea>
  </div>

  <!-- 送信ボタン -->
  <div class="form-send-button">
    <input type="submit" value="保存">
  </div>

</form>

<button class="deletebutton" onclick="articledelete()">削除</button>
<form name="deletearticle" method="post" action="/manage/article/delete?id=<%=form.id%>"></form>

<div id="rt-menu-button"></div>

<script>
  // checkboxからtrue,falseの値を取得する　※通常のcheckboxでは一度onになるとチェック外してもonのままになる。
  let isCheckStatus;
  $("#check").on("click", function(){
    isCheckStatus = document.getElementById('check');
  if($(this).prop("checked") == true){
    isCheckStatus.setAttribute("checked", "checked");
  }else{
    isCheckStatus.removeAttribute("checked", "");
  }
  });

  // 読み込んだ記事が公開済みならstatusチェックボックスにチェックを入れる
  if (<%= form.status %> === true) {
    let el = document.getElementById('status');
    el.setAttribute("checked","checked");
  }

  // 記事削除の確認
  function articledelete(){
    let judge = confirm("記事を削除して良いですか")
    if (judge == true){
      document.deletearticle.submit();

      // 非同期通信でPOST送信の例----------------------------------------------
      // var xhr = new XMLHttpRequest();
      // console.log('はいが押されました');
      // xhr.open('POST',"/manage/article/delete?id=" + <%=form.id%>);
      // console.log("/manage/article/delete?id=" + <%=form.id%>);
      // xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
      // xhr.send("string");

      // delete後に画面遷移する(非同期通信だとNodeのroutesからリダイレクトできなかった)
      // window.location.href = '/manage';
    }
  }
</script>